*{
    margin:0;
    padding:0;
}
body{
    background:#F5F5F5;
    font-size:0.36rem;
}
img{
    width:100%;
    height:100%;
}
ul,li{
    list-style: none;
}
.Detail_head{
    background:white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0.1rem 0.2rem;
    height:1rem;
}
.Main_bannerCon{
    padding:0.2rem 0.46rem;
}
.bannerImg{
    width: 6.64rem;
    height: 4.08rem;
}
.bannerImg img{
    border-radius: 0.3rem;  
}
.Main_bannerCon>div{
    margin: 0 auto; 
    margin-bottom: 0.2rem;
}
.Article_Con{
    width:6.6rem;
    
    background:white;
    box-shadow: 0px 0px 10px grey;
    padding:0.25rem 0.5rem;
    box-sizing: border-box;
    border-radius: 0.3rem;
}
.Local,.Time{
    color:#333333;
    font-size: 0.28rem;
}
.Local img,.Time img{
    width:auto;
    height:auto;
    vertical-align: middle;
}
.Local{
    margin-bottom: 0.26rem;
}
.Price{
    margin:0.4rem 0;
    color:#EF2E2E;
    font-size: 0.4rem;
    font-weight: bold;
}
.Title{
    font-weight: bold;
}
.Main_Introduction{
    background:white;
    box-sizing: border-box;
    border-radius: 0.3rem;
    box-shadow: 0px 0px 10px grey;
    width:6.6rem;
    margin: 0 auto;
    margin-bottom: 1.2rem;
}
.WriteHead{
    padding:0 0.6rem;
    font-size: 0.28rem;
    padding-bottom:0.2rem;
}
.WriteTitle{
    text-align: center;
    padding-top:0.3rem;
    font-size: 0.3rem;
}
.WriteImg{
    height:4.52rem;
}
.WriteCon{
    padding:0.2rem 0;
    font-size: 0.3rem;
}
.SignUp{
    width:100%;
    height:1.08rem;
    position: fixed;
    left:0;
    bottom:0;
}
.SignUp button{
    width:100%;
    height:100%;
    background:#75A5EF;
    color:white;
    border:none;
    outline: none;
    font-size:0.3rem;
}
.mb{
    background:rgba(0,0,0,0.7);
    position: fixed;
    width:100%;
    height:100%;
    left:0;
    top:0;
}
.HdTime{
    background:white;
    padding-top:0.2rem;
    z-index: 999;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:80%;
    height:3rem;
}
.HdTime a{
    width: 100%;
    height: 100%;
    display: block;
}
.HdWritetitle{
    height:2rem;
    text-align: center;
    line-height: 2rem;
}
.clickBack{
    height:1rem;
    width:100%;
    background:#75A5EF;
    color:white;
    text-align: center;
    line-height: 1rem;
    outline:none;
    border:none;
    font-size:0.3rem;
}