*{
    margin:0;
    padding:0;
}
html,body{
    width:100%;
    height:100%;
    display: table;
}
img{
    width:100%;
    height:100%;
}
body{
    font-size:0.26rem;
}
.ContentBox{
    background:url("../image/bg.png") no-repeat;
    background-size:100% 100%;
    width:100%;
    height:100%;
    padding-bottom: 1.4rem;
}
.peddingAct,.endAct{
    display: flex;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    margin-bottom:0.3rem;
}
.ArticleImg{
    width:3.2rem;
    height:2rem;
}
.ArticleDiss{
    width:4rem;
    height:1.72rem;
    background:white;
    padding:0.2rem;
    box-sizing: border-box;
    position: relative;
    border-top-right-radius:0.1rem;
    border-bottom-right-radius:0.1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.startTime{
    color:gray;
}
.address{
    text-align: right;
    color:gray;
}
.endAct_title{
    text-align: center;
    margin: 0.3rem 0;
}
.endAct_title p{
    display: inline-block;
    width: 3rem;
    height: 0.3rem;
}
.endActInfo{
    color:#AE385FFF;
    text-align: right;
}
.peddingActBox{
    padding-top:0.2rem;
}
