*{
    margin:0;
    padding:0;
}
body{
    font-size:0.36rem;
}
img{
    width:100%;
    height:100%;
}
ul,li{
    list-style: none;
}
.Detail_head{
    background:white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0.1rem 0.2rem;
    height:1rem;
}
.SignBanner{
    height:5.14rem;
    margin-bottom: 0.3rem;
}
.User_Info{
    background:#F2F2F2;
    width:6.8rem;
    height:6.26rem;
    border-radius: 0.3rem;
    box-shadow: 0px 0px 10px grey;
    margin:0 auto;
    text-align: center;
    padding-top:0.3rem;
    box-sizing: border-box;
}
.User_Info>div{
    width:5.06rem;
    height:0.68rem;
    margin-bottom:0.3rem;
    padding-left:0.7rem;
}
.User_Info>div input{
    width:100%;
    height:100%;
    border:none;
    background-color:#E3E3E3;
    border-radius:0.15rem;
    outline: none;
    padding-left:0.5rem;
    font-size: 0.3rem;
}
.UserSexBox{
    width:3.56rem!important;
}
.UserName{
    background:url("../images/xingming.png") no-repeat;
    background-position:2% 50%;
}
.UserPhone{
    background:url("../images/dianhua.png") no-repeat;
    background-position:2% 50%;
}
.UserSex{
    background:url("../images/xingbie.png") no-repeat;
    background-position:2% 50%;
}
.SubmitBtn{
    width:2.86rem!important;
    height:1.04rem!important;
    margin-top:0.8rem!important;
    margin: 0 auto;
    padding: 0!important;
}